/*This is where the interesting background color comes from*/

body {
  background: linear-gradient(blue, white, grey);

  max-width: 80%;
  margin: auto;
}
ul {
  text-align: right;
}
a:visited {
  color: grey;
}

a:hover {
  color: brown;
}

a:active {
  color: white;
}
.goofy h2 {
  font-family: "Lucida Handwriting", "Brush Script MT";
}
.goofy {
  width: 75%;
}
.backandforthanim {
  width: 300px;
  height: 100px;
  animation-name: redmoving;
  animation-duration: 0.5s;
  animation-timing-function: linear ;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
/*This makes the car go back and forth*/

@keyframes redmoving {
  from {
    transform: translate(0px);
  }
  to {
    transform: translate(300px);
  }
}
/*This is the code for the rainbow text*/
.rainbow {
  text-align: center;
  font-size: 52px;
  transition: font-size 5s;
  font-family: "Brush Script MT", cursive;
  letter-spacing: 5px;
  text-shadow: 1px 3px 4px #a99;
  animation: colorRotate 3s linear 0s infinite;
}
.rainbow:hover {
  font-size: 200px;
}
/*This is the code for the colors of the rainbow text*/
@keyframes colorRotate {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}
/*This is for my paragraphs*/

.lightmode{
  color:white;
  margin:5px 5px 5px 5px;
}
/*lightmode and lightmodediv go together*/
.lightmodediv{
  background:green;
  padding: 10px;
  display:flex;
  border-radius:15px;
}
/*This is spinning code, currently unused*/

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spinanim {
  width: 100px;
  height: 100px;
  animation-name: spin;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@media only screen and (max-width: 600px) {
  .backandforthanim{
    animation-duration:1s;
  }
/*Top of css ends here*/


  
.price {
  background-color: yellow;
  padding: 20px;
  border-radius: 20px
  margin: auto;
}
}
/* configurations of the images*/
img {
  border-radius: 20%
  width: 80%;
  max-width: 80%;
}
body {
  margin: auto;
}
.car2 {
  border-radius: 25px;
}
/*animation of the vehicle pictures */
.car2:hover {
  border-radius: 200px;
  padding: 0px;
}
.car2 {
  border: 4px solid #03f4fc;
}
.car2 {
  transition: border-radius 2s;
}
/*makes the wheel spin constantly*/
@keyframes spinwheel {
  
  from{transform:rotate(0deg);}
  to{transform:rotate(360deg);}
}
.wheel{
  animation: spinwheel 20s linear infinite
}
/*price list of vehicles background*/
.price {
  background-color: yellow;
  padding: 20px;
  border-radius: 20px
  margin: auto;
}
/*Dimension of the price list*/
.price {
  width: 220px;
}
/*Makes the color of text black*/
#vote {
  color: black;
}
